<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>product-search</title>
</head>

<body>
    <div id="app">
          <el-button type="primary" @click="handleAdd">创建商品</el-button>
    <el-table :data="product" stripe style="width: 100%" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55"></el-table-column>
      <!-- <el-table-column prop="mainPicUrl" label="image" width="180"></el-table-column> -->
       <el-table-column label="image">
        <template slot-scope="scope">
          <el-image style="width: 100px; height: 100px" :src="'http://localhost:8090/image/'+scope.row.pic"></el-image>
        </template>
      </el-table-column>
      <el-table-column prop="productName" label="Product Name" width="180"></el-table-column>
      <el-table-column prop="productCode" label="Model" width="180"></el-table-column>
      <el-table-column prop="price" label="Price" width="180"></el-table-column>
      <el-table-column prop="stockQuantity" label="Quantity" width="180"></el-table-column>
      <el-table-column prop="status" label="Status" width="180">
        <template slot-scope="scope">
          <span v-if="scope.row.status==0">UnShelve</span>
          <span v-if="scope.row.status==1">Putaway</span>
          <span v-if="scope.row.status==2">ToAudit</span>
        </template>
      </el-table-column>
      <el-table-column label="Action">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" icon="el-icon-edit" @click="handleEdit(scope.$index, scope.row)"></el-button>
          </template>
        </el-table-column>
    </el-table>
    <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="currentChange" ></el-pagination>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/product-search.js"></script>
</body>

</html>